body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:   #2C2C54;
    font-size: 16px; /* Set a base font size */
}

.coverPic {
    display: flex;
    justify-content: center; /* Center cover pic */
    margin-bottom: 1.25rem; /* Add some space between cover pic and buttons */
}
.gameChoices{
    display: flex;
    justify-content: center;
}
.choices {
    display: flex; /* Maintain horizontal layout for choices */
    justify-content: center; /* Center the buttons horizontally */
    margin-bottom: 1rem; /* Add some space between buttons */
}

button {
    padding: 1rem;
    margin: 1rem; /* Increase margin for better spacing */
    border-radius: 1.5rem;
    border: none;
    transition: 100ms;
    cursor: pointer;
    font-size: 2rem; /* Decrease font size for smaller screens */
    outline: none;
    background: none;
    display: flex; /* Ensure emojis remain horizontally aligned */
    align-items: center; /* Center the emoji vertically */
}

button:hover {
    transform: scale(1.1); /* Decrease scale on hover for smaller screens */
}

.reset {
    background-color:  #ECECEC;
    color: #474787;
}

img {
    max-width: 40%; /* Make images responsive */
    height: auto;
    border-radius: 2.5rem;
    background: none;
}

.site_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem; /* Add some space below site banner */
}

.Score,h1,h2,.player,.computer {
    font-size: 2rem; /* Decrease font size for smaller screens */
    font-family: 'Times New Roman', Times, serif;
    color: darkgray;
    padding: 1rem; /* Decrease padding for smaller screens */
}
.winner,p{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    color: #ECECEC;
}
.resultCard {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
    justify-content: center;
    padding: 2rem;
}

.player,
.computer {
    display: flex;
    align-items: center;
    font-size: 2rem; /* Decrease font size for smaller screens */
    margin-bottom: 1rem; /* Add space between player and computer cards */
    padding: 0 1rem; /* Add padding to player and computer cards */
}
